
<h1>
  <span class="label label-primary" style="font-size: 50px">Listing articles</span>
</h1>
<br />

<ul class="nav nav-pills">
  <li class="active"><%= link_to 'All articles', articles_path %></li>
  <li class="active"><%= link_to 'My articles', articles_path %></li>
  <li class="active"><%= link_to 'New article', new_article_path %></li>

</ul>

<br />
<br />
<div class="articles">
<% @articles.each do |article| %>

  <div class="row">
    <div class="col-md-10">
      <div class="row" style="font-size: 30px"><%= link_to article.title, article_path(article) %></div>
      <div class="row"><%= article.text %></div>
    </div>
   <div class="col-md-2">
     <div class="row"><%= l(article.created_at, format: :hui) %></div>
     <div class="row">
       <%= link_to edit_article_path(article) do  %>
        <span class="glyphicon glyphicon-pencil"></span>
       <% end %>
       <%= link_to article_path(article), method: :delete do %>
       <span class="glyphicon glyphicon-remove"></span>
       <% end %>
       <br />

       <%= link_to "/like/#{article.id}", method: :post do %>
           <span class="glyphicon glyphicon-thumbs-up"></span>
       <% end %>

       <%= link_to 'article_dislikes_path' do %>
           <span class="glyphicon glyphicon-thumbs-down"></span>
       <% end %>

       Likes : <%= article.likes.count %>

     </div>
   </div>
  </div>
<% end %>
</div>

