
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading">Sign in</h2>

  <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email address' %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox"><%= f.check_box :remember_me %> Remember me</label>
  <% end -%>

  <div><%= f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block' %></div>
<% end %>

