<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="col-md-10">
    <%= yield %>
  </div>
  <div class="col-md-2">


    <% if user_signed_in? %>
        Welcome, <%= current_user.email %>!!!!
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>

        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-small' %>

    <% end %>



  </div>
</div>
</body>
</html>
