<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="col-md-10">
    <%= yield %>
  </div>
  <div class="col-md-2">
    <% if user_signed_in? %>
        Добро пожаловать, <%= current_user.email %>!!!!
        <%= link_to 'Выход', destroy_user_session_path, method: :delete %>

    <% end %>
  </div>
</div>
</body>
</html>
